*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

/* SIDEBAR */

.sidebar{
    position:fixed;
    left:0;
    top:0;

    width:250px;
    height:100vh;

    background:#111827;

    padding:30px 20px;

    border-right:1px solid rgba(255,255,255,0.1);
}

.logo{
    color:#38bdf8;

    margin-bottom:40px;

    font-size:28px;
}

.sidebar a{
    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:white;

    padding:15px;

    border-radius:12px;

    margin-bottom:10px;

    transition:0.3s;
}

.sidebar a:hover{
    background:#38bdf8;
}

/* CONTENIDO */

.main-content{
    margin-left:250px;

    padding:40px;
}

/* TITULOS */

.title-page{
    color:#38bdf8;

    margin-bottom:10px;

    font-size:42px;
}

/* CARDS */

.card-custom{
    background:#1e293b;

    padding:25px;

    border-radius:20px;

    border:1px solid rgba(255,255,255,0.1);
}

/* KPIS */

.kpi{
    font-size:35px;

    font-weight:bold;

    color:#38bdf8;
}

/* TABLAS */

.table{
    border-radius:15px;
    overflow:hidden;
}

/* PLOTLY */

.js-plotly-plot{
    width:100% !important;
}

/* TEXTO */

.text-secondary{
    color:#94a3b8 !important;

    .hero-section{
    background: linear-gradient(135deg,#0f172a,#1e293b);
    border-radius:20px;
    padding:60px;
    margin-bottom:40px;
    box-shadow:0 0 25px rgba(0,0,0,0.3);
}

.hero-title{
    font-size:55px;
    font-weight:800;
    color:white;
    line-height:1.1;
}

.hero-text{
    color:#cbd5e1;
    font-size:20px;
    margin-top:20px;
}

.hero-img{
    max-width:300px;
}

.card-custom{
    background:#1e293b;
    border-radius:20px;
    padding:30px;
    box-shadow:0 0 20px rgba(0,0,0,0.25);
    height:100%;
}

.kpi{
    font-size:40px;
    font-weight:bold;
    color:#38bdf8;
}

.title-page{
    font-size:45px;
    font-weight:800;
    color:white;
}
.mini-card{
    background:#0f172a;
    border-radius:15px;
    padding:20px;
    height:100%;
    border:1px solid rgba(255,255,255,0.05);
}

}