{% extends 'base.html' %}

{% block content %}

<h1 style="color:#38bdf8;">About</h1>

<div class="graph">

    <h3>Proyecto Académico</h3>

    <p style="font-size:24px;line-height:45px;">

        Sistema inteligente basado en minería de datos y análisis territorial
        aplicado al estudio de patrones poblacionales relacionados
        con la sostenibilidad del emprendimiento en Bogotá.

        Desarrollado con:
        Flask,
        Python,
        Plotly,
        Bootstrap
        y datasets abiertos.

    </p>

</div>

{% endblock %}