{% extends 'base.html' %}

{% block content %}

<h1 style="color:#38bdf8;">Modelo DW</h1>

<div class="graph">

    <h3>Arquitectura del Proyecto</h3>

    <p style="font-size:24px;line-height:45px;">

        El sistema implementa un modelo de análisis territorial basado en
        minería de datos utilizando datasets abiertos de Bogotá.

        La arquitectura integra:
        extracción de datos,
        limpieza,
        análisis exploratorio,
        visualización
        y generación de indicadores estratégicos para apoyar
        la sostenibilidad del emprendimiento.

    </p>

</div>

{% endblock %}